.fullscreen{ 
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 20% 30% 50%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: fixed;
  position: fixed;
}

.decor{
  width: 100%;
  height: 100%;
  grid-column: 2;
  grid-row: 1;
  z-index: -1
}

.bigramParser{
  width: 100%;
  height: 100%;
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 40% 30% 30%;
  border: 2px solid whitesmoke;
  border-radius: 0.5rem;
  background: rgba(235, 255, 255, 0.5)

}

.welcomeText{
  width: 100%;
  height: 100%;
  grid-row: 1;
  grid-column: 2;
  font-family: "Poppins", sans-serif;
  font-size: xxx-large;
  text-align: center;
  color: #5cb1ab;
}

.uploadContainer{
  width: 100%;
  height: 100%;
  grid-row: 2;
  grid-column: 2;
  text-align: center;
  display: grid;
  grid-template-columns: 50% 50%;
}

.instructionText{
  width: 100%;
  height: 100%;
  grid-column: 1;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.formContainer{
  width: 100%;
  height: 100%;
  grid-column: 2;
  display: grid;
  grid-template-rows: 50% 50%;
}

#myfileid {
  margin-top: 19px;
  margin-right: -5px;
}

.submitButton{
  width: 100%;
  height: 100%;
  grid-row: 2;
  font-family: "Poppins", sans-serif;
  text-align: center;
  border-radius: .5em;
  background: rgb(189, 240, 191)
}
.submitButton:active{
  background: lightgreen;
}
.submitButton:hover {
  background: lightgreen;
}

.histogram {
  font-family: "Poppins", sans-serif;
  font-size: small;
  width: 100%;
  height: 100%;
  grid-column: 2;
  grid-row: 3;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  border: 2px solid whitesmoke;
  border-radius: 0.5rem;
  background: rgba(235, 255, 255, 0.5)
}



